.container__sidebar {
  position: fixed;
  height: calc(100vh - 120px);
  top: 0;
  left: 0;
  bottom: 0;
  min-width: 270px;
}

.container__content {
  margin-left: 270px;
  padding-left: 12px;
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 120px);
  scroll-behavior: smooth;
}

.container__footer {
  height: 120px;
  max-height: 120px;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}