:root {
  --primary-color: #1ed760;
  --link-color: #6ea8fe;
  --white-color-1: #fff;
  --white-color-2: #f1f1f2;
  --white-color-3: #f8f9fa;
  --danger: #bd3134;
  --danger-bg: #f9e1e5;
  --warning: #73510d;
  --warning-bg: #fbf0da;
  --success: #0d6832;
  --success-bg: #d6f0e0;
  --secondary: #40464f;
  --secondary-bg: #ebedef;
}
